.settings-panel {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: var(--navbar-color-light);
	color: var(--navbar-text-color);
	border: none;
	outline: none;
	cursor: pointer;
	transition: background-color 0.2s;
	font-size: 1.2em;
	flex-direction: row;
	min-width: 60px;
	font-family: inherit;
	gap: 10px;
	padding: 0 16px;
	text-align: left;

	&:hover, &.open {
		background-color: var(--navbar-color-light-hover);
	}

	&.loaded {
		background-color: var(--navbar-color);
		&:hover, &.open {
			background-color: var(--navbar-color-light);
		}
	}

	svg {
		font-size: 24px;
	}

	.settings-panel-menu {
		position: absolute;
		right: 0;
		top: 60px;
		width: max-content;
		max-width: calc(100vw - 100px);
		max-height: calc(100vh - 150px);
		max-height: calc(100svh - 150px);
		overflow-y: auto;
		background-color: var(--navbar-color-light);
		transition: clip-path 0.2s ease-in-out;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		pointer-events: none;
		//padding: 20px;
		cursor: default;

		.checkbox {
			width: 100%;
			display: flex;
			align-items: center;
			transition: background-color 0.2s;
			height: 54px;
			cursor: pointer;

			.checkbox-box {
				display: block;
				height: 100%;
				aspect-ratio: 1;
				position: relative;
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					width: 15px;
					height: 15px;
					border-radius: 100px;
					border: 2px solid var(--accent-color);
					filter: brightness(1.05);
					transition: background-color 0.2s, filter 0.2s;
				}
			}

			&.checked {
				.checkbox-box:before {
					background-color: var(--accent-color);
					filter: drop-shadow(0 0 4px var(--accent-color));
				}
			}

			.checkbox-content {
				flex: 1;
				display: flex;
				flex-direction: column;
				color: var(--navbar-text-color);
				padding-right: 20px;
				.checkbox-label {
					font-weight: 500;
				}
				.checkbox-description {
					font-size: 0.8em;
					opacity: 0.7;
				}
			}

			&:hover {
				background-color: var(--navbar-color-light-hover);
			}
		}

		.slider {
			width: 100%;
			display: flex;
			flex-direction: column;
			padding: 5px 20px 5px 20px;
			transition: background-color 0.2s;
			.slider-content {
				display: flex;
				margin-bottom: 8px;
				align-items: center;
				.slider-label {
					color: var(--navbar-text-color);
					font-weight: 500;
				}
				.slider-reset {
					font-size: 0.9em;
					cursor: pointer;
					transition: color 0.2s, transform 0.2s;
					margin-left: 8px;
					&:hover {
						color: var(--accent-color);
						transform: scale(1.1);
					}
				}
				.slider-value {
					font-size: 0.9em;
					margin-left: auto;
					opacity: 0.7;
				}
			}
			.slider-bar {
				width: 100%;
				display: flex;
				input {
					-webkit-appearance: none;
					appearance: none;
					width: calc(100% + 8px);
					box-sizing: border-box;
					height: 14px;
					border-radius: 10px;
					background: #0002;
					outline: none;
					margin-left: -4px;
					margin-right: -4px;
					margin-top: 3px;
					margin-bottom: 3px;
					transition: height 0.2s, margin-top 0.2s, margin-bottom 0.2s;
					&::-webkit-slider-thumb {
						-webkit-appearance: none;
						appearance: none;
						width: 14px;
						height: 14px;
						border-radius: 100px;
						background: var(--accent-color);
						cursor: pointer;
						transition: height 0.2s, filter 0.2s;
					}
					&::-webkit-slider-thumb:hover {
						height: 20px;
						filter: drop-shadow(0 0 4px var(--accent-color));
					}
				}
			}
			.slider-description {
				font-size: 0.8em;
				opacity: 0.7;
				margin-top: 4px;
			}
			&:hover {
				background-color: var(--navbar-color-light-hover);
				input {
					height: 20px;
					margin-top: 0;
					margin-bottom: 0;
					&::-webkit-slider-thumb {
						height: 18px;
					}
				}
			}
		}
		.mods-selection {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
		.mod {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			transition: background-color 0.2s;
			padding: 5px 20px;
			cursor: pointer;
			//border-radius: 10px;
			.mod-acronym {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 5px;
				width: 60px;
				border-radius: 100px;
				border: 2px solid var(--accent-color);
				font-weight: 500;
				transition: background-color 0.2s, color 0.2s, filter 0.2s, font-weight 0.2s;
			}
			.mod-label {
				margin-top: 5px;
				font-size: 15px;
				opacity: 0.7;
				white-space: nowrap;
			}
			&:hover {
				.mod-acronym {
					background-color: #fff1;
					filter: drop-shadow(0 0 4px var(--accent-color));
				}
			}
			&.semi-selected {
				.mod-acronym {
					background-color: color-mix(in srgb, var(--accent-color) 20%, transparent 80%);
					filter: drop-shadow(0 0 4px var(--accent-color));
				}
			}
			&.selected {
				.mod-acronym {
					background-color: var(--accent-color);
					//color: var(--navbar-color-light);
					font-weight: 800;
					filter: drop-shadow(0 0 4px var(--accent-color));
				}
			}
		}
	}

	&.open {
		.settings-panel-menu {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			pointer-events: all;
		}
	}
}


.skin-selector {
	.skin-selector-title {
		font-size: 1.05em;
		font-weight: 500;
		padding: 10px 20px;
		padding-bottom: 5px;
	}
	.skin-selector-description {
		font-size: 0.8em;
		opacity: 0.7;
		padding: 0 20px;
		margin-bottom: 10px;
	}
	.skin-item {
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: 0.9em;
		height: 36px;
		padding: 5px 20px;
		padding-right: 10px;
		transition: background-color 0.2s;
		cursor: pointer;
		.skin-item-name {
			flex: 1;
			max-width: 300px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&:before {
			content: '';
			display: block;
			width: 10px;
			height: 10px;
			margin-right: 12px;
			border-radius: 100px;
			border: 1.5px solid var(--accent-color);
			filter: brightness(1.05);
			transition: background-color 0.2s, filter 0.2s;
		}
		&.selected {
			&:before {
				background-color: var(--accent-color);
				filter: drop-shadow(0 0 4px var(--accent-color));
			}
		}
		.delete-button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 24px;
			height: 24px;
			border-radius: 100px;
			background-color: transparent;
			transition: background-color 0.2s;
			svg {
				width: 16px;
				height: 16px;
				fill: currentColor;
				opacity: 0;
				transition: opacity 0.2s;
			}
			&:hover {
				svg {
					opacity: 1 !important;
				}
			}
		}
		&:hover {
			background-color: var(--navbar-color-light-hover);
			.delete-button svg {
				opacity: 0.5;
			}
		}
	}
}