.background {
	position: absolute;
	inset: 0;
	z-index: -1;
	pointer-events: none;
	background-size: cover;
	background-position: center;
	filter: brightness(var(--bg-dim, 0.2));
	transition: background-image 0.5s, opacity 0.35s;
	&.hidden {
		opacity: 0;
	}
}