.grids {
	position: absolute;
	inset: 0;
	background-image: linear-gradient(#fff 1px, transparent 1px), linear-gradient(90deg, #fff 1px, transparent 1px);
	background-size: var(--grid-size) var(--grid-size);
	background-position: bottom left;
	opacity: 0.2;
	pointer-events: none;
	&.hidden {
		display: none;
	}
}