.objects-canvas {
	position: absolute;
	inset: 0;
	overflow: hidden;
	z-index: 2;

	.object {
		position: absolute;
		will-change: transform;
		left: 0;
		top: 0;
		background-color: #fffc;
		border-radius: 50%;

		&.object-fruit {
			width: 60px;
			height: 60px;
			left: -30px;
			top: -30px;
		}
		&.object-drop {
			width: 40px;
			height: 40px;
			left: -20px;
			top: -20px;
		}
		&.object-droplet {
			width: 15px;
			height: 15px;
			left: -7.5px;
			top: -7.5px;
		}
		&.object-banana {
			width: 60px;
			height: 60px;
			left: -30px;
			top: -30px;
			background-color: #ff0c;		
		}
	}
}