.objects-canvas {
	position: absolute;
	inset: 0;
	overflow: hidden;
	z-index: 2;

	.object {
		position: absolute;
		will-change: transform;
		left: 0;
		top: 0;
		background-color: #fffc;
		border-radius: 50%;

		&.object-fruit {
			width: 50px;
			height: 50px;
		}
		&.object-drop {
			width: 30px;
			height: 30px;
		}
		&.object-droplet {
			width: 15px;
			height: 15px;
		}
	}
}