[submodule "server"]
	path = server
	url = https://github.com/osu-ctb-vis/server
[submodule "src/parser/banana-path-calculation"]
    path = src/parser/banana-path-calculation
    url = https://github.com/osu-ctb-vis/banana-path-calculation