.banana-path-calculating-overlay {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: max-content;
	//background-color: var(--navbar-color-light);
	z-index: 2;
	//border-radius: 8px;
	//opacity: 0.7;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	font-weight: 600;
	font-size: 1.2em;
	gap: 10px;
	pointer-events: none;
	transition: opacity 0.3s ease;

	
	.banana-path-calculating-overlay-spinner {
		width: 20px;
		height: 20px;
		border: 3px solid #FFFC;
		border-bottom-color: transparent;
		border-radius: 50%;
		display: inline-block;
		box-sizing: border-box;
		animation: spinner 1s linear infinite;
	}
	@keyframes spinner {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	.banana-path-calculating-overlay-right {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		gap: 8px;
	}

	&.hide {
		opacity: 0;
	}
}