.objects-canvas {
	position: absolute;
	inset: 0;
	overflow: hidden;
	z-index: 2;

	--drop-size: calc(var(--fruit-size) * 1);
	--droplet-size: calc(var(--fruit-size) * 0.5);

	--fruit-size-offset: calc(0px - var(--fruit-size) / 2);
	--drop-size-offset: calc(0px -var(--drop-size) / 2);
	--droplet-size-offset: calc(0px -var(--droplet-size) / 2);

	.object {
		position: absolute;
		will-change: transform;
		left: 0;
		top: 0;
		background-color: #fffc;
		border-radius: 50%;

		&.object-fruit {
			width: var(--fruit-size);
			height: var(--fruit-size);
			left: var(--fruit-size-offset);
			top: var(--fruit-size-offset);
		}
		&.object-drop {
			width: var(--drop-size);
			height: var(--drop-size);
			left: var(--drop-size-offset);
			top: var(--drop-size-offset);
		}
		&.object-droplet {
			width: var(--droplet-size);
			height: var(--droplet-size);
			left: var(--droplet-size-offset);
			top: var(--droplet-size-offset);
		}
		&.object-banana {
			width: var(--fruit-size);
			height: var(--fruit-size);
			left: var(--fruit-size-offset);
			top: var(--fruit-size-offset);
			background-color: #ff0c;		
		}
		&.hyper {
			filter: drop-shadow(0 0 10px #f00);
		}
		&.banana-missed {
			opacity: 0.5;
			filter: grayscale(50%);
		}
	}
}


.pixi-canvas {
	position: absolute;
}