.control-btns {
	height: 100%;
	display: flex;

	.control-btn {
		height: 100%;
		width: 80px;
		border: none;
		outline: none;
		font-size: 36px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--navbar-color-light);
		color: var(--navbar-text-color);
		transition: background-color 0.2s;
		cursor: pointer;
		font-family: inherit;
		&:hover {
			background-color: var(--navbar-color-light-hover);
		}
	}

	.vertical-group {
		display: flex;
		flex-direction: column;
		position: relative;
		.control-btn {
			height: 40px;
			width: 40px;
			font-size: 20px;
			transition-delay: 0s; //0.5s;

			&:hover {
				transition-delay: 0s;
				.control-btn-menu {
					transition-delay: 0s;
					clip-path: inset(0 0 0 0);
				}
			}

			.control-btn-menu {
				position: absolute;
				right: 100%;
				top: 0;
				height: 200%;
				background: var(--navbar-color-light-hover);
				width: 300px;
				max-width: calc(100vw - 12px);
				display: flex;
				padding: 5px 15px;
				cursor: default;
				flex-direction: column;
				text-align: left;
				justify-content: center;
				clip-path: inset(0 0 0 100%);
				transition: clip-path 0.2s ease-in-out;
				transition-delay: 0s; //0.5s;
				.control-btn-menu-title {
					font-size: 16px;
					font-weight: 600;
					margin-bottom: 5px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					flex-direction: row;
					.slider-reset {
						cursor: pointer;
						transition: color 0.2s, scale 0.2s;
						&:hover {
							color: var(--accent-color);
							transform: scale(1.1);
						}
						
					}
				}
				.control-btn-menu-slider {
					-webkit-appearance: none;
					appearance: none;
					width: calc(100% + 8px);
					box-sizing: border-box;
					height: 14px;
					border-radius: 10px;
					background: #0002;
					outline: none;
					margin-left: -2px;
					margin-right: -2px;
					margin-top: 5px;
					margin-bottom: 3px;
					transition: height 0.2s, margin-top 0.2s, margin-bottom 0.2s;
					&::-webkit-slider-thumb {
						-webkit-appearance: none;
						appearance: none;
						width: 14px;
						height: 14px;
						border-radius: 100px;
						background: var(--accent-color);
						cursor: pointer;
						transition: height 0.2s, filter 0.2s;
					}
					&::-webkit-slider-thumb:hover {
						height: 20px;
						filter: drop-shadow(0 0 4px var(--accent-color));
					}
				}
				.control-btn-menu-annotation {
					font-size: 14px;
					opacity: 0.8;
					margin-top: 5px;
					width: 100%;
					display: flex;
					justify-content: space-between;
					flex-direction: row;
					align-items: center;
				}
			}
		}
	}

	.playback-rate-btn {
		.playback-rate-container {
			display: flex;
			justify-content: space-between;
		}		
		font-size: 18px;
		font-weight: 600;
		.small {
			font-size: 14px;
			opacity: 0.8;
			font-weight: 400;
		}
		.slider-button-container {
			display: flex;
			justify-content: space-between;
		}
		.control-btn-menu.playback-rate-menu {
			top: 0%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.control-btn-menu.playback-rate-menu .playback-rate-buttons {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			padding: 5px 0px;
			cursor: pointer;
			transition: background-color 0.2s;
			margin-left: auto;
		}
		.control-btn-menu.playback-rate-menu .playback-rate-button {
			width: 50px;
			text-align: center;
			padding: 2px 2px;
			margin-left: 15px;
			border-radius: 100px;
			border: 2px solid var(--accent-color);
			position: relative;
			bottom: 5px; 
			font-size: 0.5em;
			font-weight: 500;
			transition: background-color 0.2s, color 0.2s, filter 0.2s, font-weight 0.2s;
		}
		.control-btn-menu.playback-rate-menu .playback-rate-button:hover {
			background-color: #fff1;
			filter: drop-shadow(0 0 4px var(--accent-color));
		}
		.control-btn-menu.playback-rate-menu .playback-rate-button.semi-selected {
			background-color: color-mix(in srgb, var(--accent-color) 20%, transparent 80%);
			filter: drop-shadow(0 0 4px var(--accent-color));
		}
		.control-btn-menu.playback-rate-menu .playback-rate-button.selected {
			background-color: var(--accent-color);
			font-weight: 800;
			filter: drop-shadow(0 0 4px var(--accent-color));
		}
	}

	.volume-btn {
		.control-btn-menu.volume-menu {
			top: 0%;
			height: 100%;
		}
	}
}