.progress-bar {
	flex: 1;
	height: 100%;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
	.progress-bar-slider {
		position: absolute;
		inset: 0;
		.progress-bar-slider-handle {
			position: absolute;
			height: 100%;
			background: var(--accent-color);
			width: 1.5px;
			transform: translateX(-50%);
			pointer-events: none;
			&::before, &::after {
				content: '';
				position: absolute;
				width: 10px;
				height: 10px;
				left: 50%;
				background: var(--accent-color);
				border-radius: 2px;
				clip-path: polygon(0 0, 100% 100%, 0 100%);
			}
			&::before {
				top: 0;
				transform: translate(-50%, -50%) rotate(-45deg);
			}
			&::after {
				bottom: 0;
				transform: translate(-50%, 50%) rotate(135deg);
			}
		}
	}
}